<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>springmvcapp1</display-name>
	<servlet>
		<servlet-name>springmvc-app1</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- Below lines not required if we have used servlet name mentioned above 
			appended with "-servlet.xml" -->
		<!-- <init-param> -->
		<!-- <param-name>contextConfigLocation</param-name> -->
		<!-- <param-value>/WEB-INF/springmvc-app1-servlet.xml</param-value> -->
		<!-- </init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc-app1</servlet-name>
		<!-- using /* in url mapping will cause issue when loading jsp files, requested 
			resource not found on server. As every request has to go thru dispacher servlet 
			and dont have mapping for jsp files or user /app/* in url mapping -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- Below lines not required if we have used servlet name mentioned above 
		appended with "-servlet.xml" -->
	<!-- <listener> -->
	<!-- <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
	<!-- </listener> -->
	<!-- <context-param> -->
	<!-- <param-name>contextConfigLocation</param-name> -->
	<!-- <param-value>/WEB-INF/springmvc-app1-servlet.xml</param-value> -->
	<!-- </context-param> -->
	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
</web-app>