<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-4.3.xsd
   http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
   
 <context:component-scan base-package="org.pjay.springmvc"/>
 <mvc:annotation-driven/>
 
 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 	<property name="prefix" value="/WEB-INF/jsp/"></property>
 	<property name="suffix" value=".jsp"></property>
 </bean>
 
 <!-- Can even try org.springframework.context.support.ResourceBundleMessageSource but below one more efficient -->
 <!-- https://stackoverflow.com/questions/27878418/nosuchmessageexception-spring-reloadableresourcebundlemessagesource-vs-resourc -->
 <!-- https://stackoverflow.com/questions/39685399/reloadableresourcebundlemessagesource-vs-resourcebundlemessagesource-cache-con -->
 <!-- https://stackoverflow.com/questions/20759737/propertyplaceholderconfigurer-vs-reloadableresourcebundlemessagesource -->
 <bean id="message_source" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
 	<property name="basename" value="messages"></property><!-- Name of the bundle in resources folder or classpath ignoring _en for internationalization -->
 </bean>

</beans>